body {
    background-color: #f5f5f5;
}


p {
	font-size: 18px;
    font-weight: 100;
	line-height: 1.4;
    font-family: "Liter";
    text-align: justify;
}


p, h1, h2 {
	width: 100%;
	max-width: 640px;
    margin-left: auto;
	margin-right: auto;
}


.byline {
    text-align: center;
    margin-top: 10px; 
    margin-bottom: 10px;
}

h1 {
    font-family: "Sora";
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

h3 {
    font-family: "Sora";
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: auto;
	margin-right: auto;
    width: 100%;
	max-width: 640px;
}

h2 {
    width: 100%;
	max-width: 640px;
    margin-left: auto;
	margin-right: auto;
    font-family: "Sora";
    font-size: 30px;
    font-weight: 700;
}


h4 {
    font-size: 24px;
	line-height: 1;
    font-family: "Liter";
    width: 100%;
	max-width: 640px;
    margin-left: auto;
	margin-right: auto;
    font-weight: 800;
}


.img1, .img4, .img5 {
	display: block;
    padding: 15px 0px;
    width: 100%;
	max-width: 640px;
    margin-left: auto;
	margin-right: auto;
}

.img2 {
	display: block;
    padding: 15px 0px;
    width: 100%;
	max-width: 800px;
    margin-left: auto;
	margin-right: auto;
}

.img3 {
	display: block;
    padding: 15px 0px;
    width: 100%;
	max-width: 500px;
    margin-left: auto;
	margin-right: auto;
}


.image-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 15px 0px;
    max-width: 1100px;
    margin: 0 auto;
  }
  

  .side-img2 {
    width: 100%;
    max-width: 550px;
    height: auto;
  }


.divider-wrapper {
    width: 100%;
    max-width: 640px;
    height: 40px;
    overflow: visible;
    margin: 20px auto;
}

.mountain-divider {
    width: 100%;
    height: 100%;
    display: block;
}


.finalnote{
	width: 100%;
	max-width: 640px;
    margin-left: auto;
	margin-right: auto;
    font-size: 14px;
    text-align: center;
    font-weight: 100;
	line-height: 1.4;
    margin-top: 0px;
    font-family: "Liter";

}

a {
    color: #5b8db2
  }
  
a:hover {
    color: #66707e;
  }
  
